*{
	margin: 0;
	padding: 0;
}
.header{
	max-width: 1200px;
	height: 70px;
	background: rgb(128, 128, 128);
	margin: auto;
	display:flex;
	align-items: center;
}
.header__menu ul{
	list-style: none;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
}
.header__menu{
	width: 60%;
}
hr{
	border: .5px solid rgb(192, 192, 192);
	color: rgb(192, 192, 192);
}
a{
	color: rgb(192, 192, 192);
	text-decoration:none;
}
a:hover {
    color: yellow;  
}
.header__log ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.header__log{
	width: 30%;
}

.header__lang ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.header__lang{
	width: 10%;
}