*{
	margin: 0;
	padding: 0;
}
.header__menu{
	max-width: 1200px;
	height: 70px;
	background: rgb(128, 128, 128);
	margin: auto;
	display:flex;
	align-items: center;
   position:relative;
   display:inline-block;
}
.header__menu li{
   list-style-type: none;
}
.header__menu ul li > ul {
	background: rgb(240, 255, 240);
	display:none;
}
.header__menu ul li:hover > ul {
   display:table-column;
	background: rgb(240, 255, 240);
	border:solid green;
	transition: 1s;
	position: absolute;
    /*border-radius: 5px;*/
	font-size:13px;
	width:;
	padding: 20px;
	height:100%;
	margin:auto;
   
}
.header__menu > ul > li:after {
/*    font-size: .5em; */
/*    display: inline; */
   position: relative;
   }
.header__menu ul{
	list-style: none;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
	text-transform:uppercase;
}
a{
	text-decoration:none;
	width: 100%;
	height: 70px;
}
button{
	color: rgb(192, 192, 192);
	height:70px;
	text-transform:uppercase;
	border:1px solid green;
	padding: 25px;
	background: rgb(240, 248, 255);
}
button:hover{
	background: rgb(240, 255, 240);
}
.submenu {
   position:absolute;
   display:none;
   background: #ccc;
   border:1px solid green;
}
